# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VSCode and IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db 